@import "variables";
@import "mixins";
@import "media";
@import "rfs";

///////////////////////////////////////////
// wc-card
///////////////////////////////////////////
#wc {
    wc-card {
	font-size: font-size-base;
	display: block;
	visibility: hidden;

	.card {
	    text-align: left;

	    .card-header {
		font-family: Amplitude Regular;
	    }
	    
	    .card-body {
	    }

	    .card-footer {
		font-family: Amplitude Regular;
	    }
	}
    }
}

