@import "variables";
@import "mixins";
@import "media";
@import "rfs";

///////////////////////////////////////////
// wc-test 
///////////////////////////////////////////
#wc {
    wc-form {
	display: block;

	.required {
	    &:after {
		margin-left:2px;
		content: "\f069";
		font-family: FontAwesome;
		color: lighten(red,25%);
		font-size: $font-size-tiny;
	    }
	}

	/* DEFAULTS */
	label:not(.wc-groupbox-label), [type="text"], [type="email"], [type="password"],

	.select2, .select2-selection {
	    height:40px!important;
	    font-size: $font-size-base;
	}

	/* NAMED CLASSESS */
	&.form-control-lg, {
	    textarea {
		font-size: $font-size-large;
	    }

	    label, [type="text"], [type="email"], [type="password"], .select2, .select2-selection {
		height:50px;
		font-size: $font-size-large;
	    }
	}

	&.form-control-md {
	    textarea {
		font-size: $font-size-base;
	    }

	    label, [type="text"], [type="email"], [type="password"], .select2, .select2-selection {
		height:40px!important;
		font-size: $font-size-base;
	    }

	    .select2, .select2-selection {
		height:40px!important;
		line-height:25px;
		font-size: 16px;
	    }
	}
	
	&.form-control-sm {
	    textarea {
		font-size: $font-size-small;
	    }

	    label, [type="text"], [type="email"], [type="password"] {
		height:30px!important;
		font-size: $font-size-small;
	    }

	    .select2, .select2-selection {
		height:30px!important;
		line-height:15px;
		font-size: $font-size-small;
	    }
	}

	.col-md-12 {
	    label:not(.wc-groupbox-label) {
		padding:0;
		margin:0;
		height:0!important;
		vertical-align: bottom;
	    }
	}

	.has-error .col-form-label,
	.has-error .help-block,
	.has-error .form-control-feedback {
	    color: red!important;
	}

	.has-success .col-form-label,
	.has-success .help-block,
	.has-success .form-control-feedback {
	    color: #000!important;
	}

	.has-error {
	    textarea,
	    [type="text"],
	    [type="email"],
	    [type="password"],
	    .select2-selection {
		border-color: red!important;
	    }
	}
    }
}

