@import "variables";
@import "mixins";
@import "media";
@import "rfs";

///////////////////////////////////////////
// wc-groupbox
///////////////////////////////////////////
#wc {
    wc-groupbox {
	clear: both;
	display: block;
	visibility: hidden;
	
	.col-md-12:nth-child(2) {
	    clear: both;
	    display: block;
	    margin-top:-30px;
	    padding-bottom:20px;
	}

	.wc-groupbox-label {
	    /* font-family: Amplitude Regular; */
	    display: flex;
	    align-items: center;
	}
    }
}

