@import "variables";
@import "mixins";

///////////////////////////////////////////
// wc-icon
///////////////////////////////////////////
#wc {
    wc-icon {
	font-size: $font-size-base;
	display: block;
	visibility: hidden;
	padding:0;
	margin:0;
    }
}
