@import "variables";
@import "mixins";
@import "media";
@import "rfs";

body {
    margin:0;
    padding:0;
    background: #f7f7f7;
}

///////////////////////////////////////////
// wc-melify
///////////////////////////////////////////
#wc {
    wc-melify {
	@include responsive-font-size($font-size-medium);
	display: block;
	visibility: hidden;
	
	$color-1: lighten(#FEC108,40%);
	$color-2: lighten(#16A2B8,55%);
	$color-3: lighten(#28A745,55%);

	wc-tile {
	    &:hover {
		wc-tile-description {
		    position:relative;

		    a {
			bottom:50%;
			position:absolute;
			display:block!important;
		    }
		}
	    }
	}

	wc-tile-description {
	    /* .fa { */
	    /* 	display: inline-block; */
	    /* 	border-radius: 60px; */
	    /* 	box-shadow: 0px 0px 2px #888; */
	    /* 	padding: 0.5em 0.6em; */

	    /* } */
	}

	.card-header {
	    h5 {
		font-family: Amplitude Regular;
		margin:0;
		padding:0
	    }
	}

	.list-group {
	    margin-bottom: 20px;

	    .list-group-item {
		font-family: Amplitude Regular;
		color: #333;
	    }

	    &#list-group-1 {
		.list-group-item {
		    &.active {
			background: $color-1;
			border-color: darken($color-1,10%);
			color: #000;
		    }

		    &:hover {
			background: darken($color-1,10%);
			border-color: darken($color-1,10%);
			color: #000;
		    }
		}
	    }

	    &#list-group-2 {
		.list-group-item {
		    &.active {
			background: $color-2;
			border-color: darken($color-2,10%);
			color: #000;
		    }

		    &:hover {
			background: darken($color-2,10%);
			border-color: darken($color-2,10%);
			color: #000;
		    }
		}
	    }

	    &#list-group-3 {
		.list-group-item {
		    &.active {
			background: $color-3;
			border-color: darken($color-3,10%);
			color: #000;
		    }

		    &:hover {
			background: darken($color-3,10%);
			border-color: darken($color-3,10%);
			color: #000;
		    }
		}
	    }
	}
    }
}

