@import "variables";
@import "mixins";
@import "media";
@import "rfs";

///////////////////////////////////////////
// wc-swipe
///////////////////////////////////////////
#wc {
    wc-swipe {
	@include responsive-font-size($font-size-large);

	display: block;
	visibility: hidden;

	.swiper-container {
	    width: 100%;
	    height: auto;
	}
    }
}

