@import "variables";
@import "mixins";
@import "media";
@import "rfs";

#wc {
    font-family: $font-family-base;
    font-size: $font-size-base;
    
    .amplitude-light   {font-family: Amplitude Light;}
    .amplitude-regular {font-family: Amplitude Regular;}
    .amplitude-medium  {font-family: Amplitude Medium;}

    * {
	outline: none!important;
	-webkit-box-shadow: none!important;
	-moz-box-shadow: none!important;
	box-shadow: none!important;

	border-radius:0!important;
    }

    /* PLACEHOLDER COLOR */
    ::placeholder {color: #999!important;}
    :-ms-input-placeholder {color: #999!important;}
    ::-ms-input-placeholder {color: #999!important;}
    
    .wc-loading-img {
	&:after {
	    content: url('/tk/lib/components/w/assets//loading.gif');
	}
    }

    /* IN DEV WHEN CTRL IS PRESSED */
    .ctrl-outline {
	outline: 3px #FFB300 solid!important;
    }
}
