///////////////////////////////////////////
// wc-maker
///////////////////////////////////////////
#wc {
    wc-maker {
	&.dark {
	    color: #f7f7f7;
	    background: #333!important;

	    border: 10px lime solid;

	    wc-header {
	    }

	    &:hover {
		border: 10px darken(#f7f7f7,30%) solid;
		color: darken(#f7f7f7,40%);
	    }
	}
    }
}
