a {
    text-decoration: none!important;
}

.hamberger {
    position:absolute;
    top:20px;
    left:20px;
    color: lime;
}

.a-swiper {
    margin-top: 40px;

    &#swiper-0 {
	.menus {
	    h3 {
		text-transform: uppercase;
		color: gold;
	    }

	    ul {
		margin:0;
		padding:0;
		text-transform: uppercase;
		
		li {
		    list-style: none;
		    height:40px;
		    line-height:40px;
		}
	    }
	}
    }

    &#swiper-1 {
	ul {
	    margin-top: 60px;
	    background: transparent;

	    li {
		background: transparent;
		font-size:24px;
		font-family: Amplitude Regular;
		text-align: center;
		border:1px lime solid;

		a {
		    text-transform: uppercase;
		    color:lime!important;
		}
	    }
	}

	#disclaimer {
	    margin-top:60px;
	}
    }
}
