@import "variables";
@import "mixins";
@import "media";
@import "rfs";

///////////////////////////////////////////
// wc-select
///////////////////////////////////////////
#wc {
    wc-select {
	display: block;
	visibility: hidden;
	font-size: $font-size-base;
	
	label {
	    display: table-cell;
	    vertical-align: middle;
	}

	input {
	    display: table-cell;
	    vertical-align: middle;
	}
    }
}
