@import "variables";
@import "mixins";
@import "variables";
@import "mixins";

///////////////////////////////////////////
// wc-stocks
///////////////////////////////////////////
#wc {
    wc-stocks {
	font-size: $font-size-base;
	display: block;
	visibility: hidden;

	table {
	    font-family: Amplitude Light;

	    th, td {
		padding:5px!important;
		margin:0px!important;
		border: 1px #FFF solid!important;
	    }

	    th {
	    }
	}

	.stocks-container {
	    a {
		color: #000;
		text-decoration: none;
	    }

	    .stock-symbol {
	    }
	}

	.stock-price, .stock-change, .stock-change-pct, .stock-mkt-cap {
            width: 22%;
            text-align: right;
	}

	.blink {
	    -webkit-animation-name: blinker;
	    -webkit-animation-duration: 1s;
	    -webkit-animation-timing-function: linear;
	    -webkit-animation-iteration-count: infinite;
	    
	    -moz-animation-name: blinker;
	    -moz-animation-duration: 1s;
	    -moz-animation-timing-function: linear;
	    -moz-animation-iteration-count: infinite;
	    
	    animation-name: blinker;
	    animation-duration: 1s;
	    animation-timing-function: linear;
	    animation-iteration-count: infinite;
	}

	@-moz-keyframes blinker {  
	    0% { opacity: 1.0; }
	    50% { opacity: 0.0; }
	    100% { opacity: 1.0; }
	}

	@-webkit-keyframes blinker {  
	    0% { opacity: 1.0; }
	    50% { opacity: 0.0; }
	    100% { opacity: 1.0; }
	}

	@keyframes blinker {  
	    0% { opacity: 1.0; }
	    50% { opacity: 0.0; }
	    100% { opacity: 1.0; }
	}
    }
}
