@import "variables";
@import "mixins";
@import "media";
@import "rfs";

///////////////////////////////////////////
// wc-accordion-bs
///////////////////////////////////////////
#wc {
    wc-accordion-bs {
	font-size: $font-size-base;
	display: block;
	visibility: hidden;
    }
}

