@import "variables";
@import "mixins";
@import "media";
@import "rfs";

///////////////////////////////////////////
// wc-app
///////////////////////////////////////////
#wc {
    wc-app {
	@include responsive-font-size($font-size-medium);
	display: block;
	visibility: hidden;
	
	.app-page {
	    background: #FFF;
	    padding-top:10px;
	    padding-bottom:20px;
	    display: block;
	}

	.app-header, .app-footer {
	    display: block;
	}
    }
}

