@import "variables";
@import "mixins";
@import "media";
@import "rfs";

///////////////////////////////////////////
// wc-calendar
///////////////////////////////////////////
#wc {
    wc-calendar {
	display: block;
	visibility: hidden;
	
	label {
	    display: table-cell;
	    vertical-align: middle;
	}

	input {
	    display: table-cell;
	    vertical-align: middle;
	}
    }
}

.datepicker {
    margin-left:25px!important;

    .table-condensed {
	font-size:$font-size-small;
	height: 225px;
	width: 225px;
    }
}
