@import "variables";
@import "mixins";
@import "media";
@import "rfs";

///////////////////////////////////////////
// wc-carouselbs
///////////////////////////////////////////
#wc {
    wc-carouselbs {
	font-size: $font-size-base;
	display: block;
	visibility: hidden;
	border:1px #CCC solid;

	// USE CUSTOM ICONS
	/* .carousel-control-prev-icon, */
	/* .carousel-control-next-icon { */
	/*     margin-top:-90px; */
	/*     height: 50px; */
	/*     width:  50px; */
	/*     background: transparent; */
	/*     color:#CCC; */
	/* } */

	/* .carousel-control-next-icon { */
	/*     &:after { */
	/* 	font-family: FontAwesome; */
	/* 	content: "\f105"; */
	/* 	font-size:90px; */
	/*     } */
	/* } */

	/* .carousel-control-prev-icon { */
	/*     &:after { */
	/* 	font-family: FontAwesome; */
	/* 	content: "\f104"; */
	/* 	color:#FFF; */
	/* 	font-size:90px; */
	/*     } */
	/* } */

	&.modal {
	    .carousel {
		padding:50px;
		position: fixed;
		top: 0;
		left:0;
		bottom:0;
		right:0;
		width: 100%;
		background:#cecece!important;
		z-index: 1000;

		.close {
		    position: absolute;
		    top: 25px;
		    right:25px;
		    z-index: 1100;
		}
	    }
	}	    

	.carousel-item {
	    background: #FFF;
	}

	wc-carouselbs-header {
	    display:block;
	    padding:0;
	    margin:0;
	    padding:10px;
	    padding-left:20px;
	    padding-right:20px;
	    font-size: $font-size-large;
	    font-family: Amplitude Regular;
	    border-bottom: 1px #cecece solid;
	}

	wc-carouselbs-body {
	    padding:20px;
	    display:block;
	}

	wc-carouselbs-footer {
	    border-top: 1px #cecece solid;
	    display:block;
	    padding:0;
	    margin:0;
	    padding:20px;
	    font-size:$font-size-base;
	}
    }
}
