@import "variables";
@import "mixins";
@import "media";
@import "rfs";

#wc {
    font-family: $font-family-base;
    font-size: $font-size-base;

    * {
	outline: none!important;
	-webkit-box-shadow: none!important;
	-moz-box-shadow: none!important;
	box-shadow: none!important;

	border-radius:0!important;
    }
}
