@import "variables";
@import "mixins";
@import "media";
@import "rfs";

#wc {
    wc-listbox {
	font-size: $font-size-base;
	display: block;
	visibility: hidden;

	margin:0;
	padding:0;

	ul {
	    li {
		cursor: pointer;

		&:hover {
		    background: lighten(#157EFB,20%);
		    color: #FFF;
		}

		&.active {
		    border:1px transparent solid;
		    outline: none;
		    color: #FFF;
		}
	    }
	}
    }
}
