@import "variables";
@import "mixins";
@import "media";
@import "rfs";

///////////////////////////////////////////
// wc-page
///////////////////////////////////////////
#wc {
    wc-page {
	display: block;
	visibility: hidden;
	
	wc-page-header, wc-page-body, wc-page-footer {
	    display:block;
	}

	wc-page-header {
	    border-top:1px #ccc dashed;

	    [class*=container] {
		/* background:lime; */
	    }
	}

	wc-page-body {
	    border-top:1px #ccc dashed;

	    [class*=container] {
		margin-top: 20px;
		margin-bottom: 20px;
		/* min-height:300px; */
		/* background:khaki; */
	    }
	}

	wc-page-footer {
	    border-top:1px #ccc dashed;
	    border-bottom:1px #ccc dashed;
	    
	    [class*=container] {
		/* background:pink; */
	    }
	}
    }
}

