@import "variables";
@import "mixins";
@import "media";
@import "rfs";

////////////////////////////////////////////////////////////
// TABLE
////////////////////////////////////////////////////////////
#wc {
    wc-table {
	display: block;
	font-size: $font-size-base!important;
	
	th {
	    background: #333;
	    color: #FFF;
	    font-family: Amplitude Regular;

	    &:not(:last-child) {
		border-right: 1px #999 solid;
	    }
	}

	[type=search] {
	    border: 1px #cecece solid;
	}

	.table-jpmc {
	    border:0!important;

	    tr, td, th {
		border:0!important;
	    }

	    th {
		background: #FFF;
		color: #333;
		font-family: Amplitude Regular;
	    }
	}
    }
}
