@import "variables";
@import "mixins";
@import "media";
@import "rfs";

///////////////////////////////////////////
// wc-toolbar
///////////////////////////////////////////
#wc {
    wc-toolbar {
	font-size: font-size-base;
	display: inline-block;
	visibility: hidden;

	&.wc-toolbar-horizontal {
	    padding:5px;
	    background: darken(red, 10%);

	    [wc-toolbar-sep] {
		width:1px!important;
		border-right: 1px #CECECE solid;
		margin-left:5px;
		margin-right:5px;
	    }

	    .fa {
		padding-left:10px;
		padding-right:10px;
		cursor: pointer;
	    }
	}

	&.wc-toolbar-vertical {
	    text-align: center;
	    padding:10px;

	    [wc-toolbar-sep] {
		display:block;
		height: 1px!important;
		width: 100%;
		border-top:1px #CECECE solid;
		margin-top:5px;
	    }

	    .fa {
		display: block;
		padding-top: 10px;
		padding-bottom: 10px;
		cursor: pointer;
	    }
	}
    }
}

