@import "variables";
@import "mixins";
@import "media";
@import "rfs";

$rfs-minimum-font-size: 12;
$rfs-minimum-font-size-unit: px;
$rfs-breakpoint: 1200;
$rfs-breakpoint-unit: px;
$rfs-factor: 5;

@import "rfs";

body {
    @include rfs(16,true);
}

p {
    @include rfs(20,true);
}

h1 {
    @include rfs(35,true);
}

h2 {
    @include rfs(28,true);
}

h3 {
    @include rfs(22,true);
}

table tr td {
    @include rfs(16,true);
}
